[submodule "arm-assembly"]
	path = arm-assembly
	url = git@github.com:trevorpiltch/arm-assembly.git
[submodule "Depot-Tutorial"]
	path = Depot-Tutorial
	url = git@github.com:trevorpiltch/Depot-Tutorial.git
